body{
	background-color:#017163;
	color:white;
	overflow:auto;
}

#map {
        width: 361px;
        height: 437px;
		background-color: #CCC;
		margin-top:-436px;
		margin-left:470px;
      }
.fb-page{
	margin-left:935px;
	margin-top:-436px;
	width: 361px;
    height: 437px;

}

p {
	padding-left:10px;
}
	
header{
	font-size:50px;
	background-color:#017164;

}
h1{
	color:black;
	background-color:#017164;
}
h4{
	padding-left:10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.sidebar1 {
	float: left;
	width: 220px;
	background-color:  #0CF;
	padding-bottom: 10px;
}

ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 200px;  
	text-decoration: none;
	background-color: green;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #ADB96E;
	color: #FFF;
}


.content {

	padding: 10px 0 0 0px;
	
	width: 740px;
	float: left;
}

.content ul, .content ol { 
	padding: 0px 15px 15px 100px; 
}

.container{
	width:800px;
	height:400px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: black;	
}
.center {
    margin: auto;
    width: 60%;
    
    padding: 10px;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}



table {
    border-collapse: collapse;
    border: 1px solid black;
}

.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:280px;
	top:auto;
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
}
.nvgt{
	position:absolute;
	top: 120px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
}